{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Zamartus</title>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Sue+Ellen+Francisco&display=swap"
        rel="stylesheet">






    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

    <!-- AOS Animation -->
    <link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet" />

    <link rel="stylesheet" href="/static/css/style.css">
    <style>
        body {
            font-family: "Josefin Sans", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-weight: 600;
        }

        p {
            font-weight: 350;
        }
    </style>

</head>

<body class="bg-white overflow-x-hidden">


    <div class="fixed bottom-6 right-6 z-50 flex flex-col gap-4 items-end">

        <!-- CALL BUTTON -->
        <a href="tel:+919876543210"
            class="call-btn group flex items-center justify-center w-14 h-14 rounded-full shadow-xl">

            <i class="fa-solid fa-phone text-white text-xl"></i>

            <span
                class="label absolute right-16 opacity-0 group-hover:opacity-100 transition-all duration-300 bg-white text-gray-800 px-4 py-2 rounded-full shadow-md text-sm font-medium">
                Call Us
            </span>

        </a>

        <!-- WHATSAPP BUTTON -->
        <a href="https://wa.me/919876543210" target="_blank"
            class="whatsapp-btn group flex items-center justify-center w-14 h-14 rounded-full shadow-xl">

            <i class="fa-brands fa-whatsapp text-white text-2xl"></i>

            <span
                class="label absolute right-16 opacity-0 group-hover:opacity-100 transition-all duration-300 bg-white text-gray-800 px-4 py-2 rounded-full shadow-md text-sm font-medium">
                Chat on WhatsApp
            </span>

        </a>

    </div>




    {% include 'components/navbar.html' %}

    <main class="min-h-screen overflow-x-hidden">
        {% block content %}
        {% endblock %}
    </main>

    {% include 'components/footer.html' %}

    <!-- AOS JS -->
    <script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>

    <script>
        AOS.init({
            duration: 600,
            once: true
        });
    </script>

</body>

</html>